<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <title>Charlero</title>
        <!-- Path to Framework7 Library CSS-->
        <link rel="stylesheet" href="css/framework7.material.min.css">
        <link rel="stylesheet" href="css/framework7.material.colors.min.css">
        <!-- Path to your custom app styles-->
        <link rel="stylesheet" href="css/my-app.css">
        <link rel="stylesheet" href="css/framework7-icons.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>
    <body>
        <!-- Status bar overlay for fullscreen mode-->
        <div class="statusbar-overlay"></div>
        <!-- Panels overlay-->
        <div class="panel-overlay"></div>
        <div class="login-screen">
            <div class="view">
                <div class="page navbar-fixed toolbar-fixed">
                    <div class="page-content login-screen-content">
                        <div class="login-screen-title">Register</div>
                        <div class="list-block">
                            <ul>
                                <!-- Text inputs -->
                                <li>
                                    <div class="item-content">
                                        <div class="item-media"><i class="icon f7-icons">person</i></div>
                                        <div class="item-inner">
                                            <div class="item-title label">UserName</div>
                                            <div class="item-input">
                                                <input id="username" type="text" placeholder="Your name">
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <a id="register" href="#" class="button active">Registrarse</a>           
                    </div>
                </div>
            </div>
        </div> 


        <div class="views tabs toolbar-fixed">

            <div id="view-1" class="view tab">
                <div class="pages navbar-fixed toolbar-fixed">
                    <div data-page="users_page" class="page">
                        <div class="page-content">
                            <div class="content-block">
                                <!-- lista de usuarios online -->
                                <div class="list-block media-list lista_usuarios">
                                    <h3 style="color:green;">Online</h3>
                                    <ul id="onlineusers">

                                    </ul>
                                    <script id="onusers" type="text/template7">
                                    {{#each users}}
                                    <li onclick="openChat(this)" data-id="{{deviceId}}">
                                        <a href="#" class="item-link item-content">
	                                        <div class="item-media"><img src={{#if avatar}} "{{avatar}}" {{else}} "img/unknowuser.png" {{/if}} width="44"></div>
	                                        <div class="item-inner" id="item-inner-chat">
	                                        	<div class="item-title-row">
	                                        		<div class="item-title">{{name}}</div>
                                        </div>
                                        </div>
                                        </a>
                                        </li>
                                    {{/each}}
                                    </script>
                                    <h3 style="color:red;">Offline</h3>
                                    <ul id="offlineusers">

                                    </ul>
                                    <script id="offusers" type="text/template7">
                                    {{#each users}}
                                    <li onclick="openChat(this)" data-id="{{deviceId}}">
										<a href="#" class="item-content">
											<div class="item-media"><img src={{#if avatar}} "{{avatar}}" {{else}} "img/unknowuser.png" {{/if}} width="44"></div>
											<div class="item-inner" id="item-inner-chat">
												<div class="item-title-row">
													<div class="item-title">{{name}}</div>
                                        </div>
                                        </div>
                                        </a>
                                        </li>
									{{/each}}
                                    </script>
                                </div>
                                <!-- end of lista de usuarios online  -->
                            </div>
                        </div>   
                    </div>
                </div>
            </div>

            <div id="view-2" class="view tab active">
                <div class="pages navbar-fixed toolbar-fixed">
                    <div data-page="chat_page" class="page">
                        <div class="page-content">
                            <div class="content-block">
                                <!-- lista de usuarios online -->
                                <div class="list-block media-list">
                                    <ul id="chats">

                                    </ul>
                                    <script id="ch" type="text/template7">
                                    {{#each chats}}
                                    <li class="swipeout">
                                    <div onclick="openChat(this)" data-id="{{receptorId}}" class="swipeout-content item-link item-content">
										
											<div class="item-media">
                                                <img src={{#if avatar}} "{{avatar}}" {{else}} "img/unknowuser.png" {{/if}} width="44">
                                            </div>
											<div class="item-inner" id="item-inner-chat">
												<div class="item-title-row">
													<div class="item-title">{{name}}</div>
                                                </div>
                                            </div>
                                        
                                    </div>
                                    <div class="swipeout-actions-right">
                                        <a href="#" onclick="borrarChat(this)" data-id="{{receptorId}}">Delete</a>
                                    </div>
                                        
                                    </li>
									{{/each}}
                                    </script>
                                </div>
                                <!-- end of lista de usuarios online  -->
                            </div>
                        </div>                               
                    </div>
                </div> 
            </div>

            <!-- popup userchat -->
            <div class="popup popup-userchat tablet-fullscreen">

                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="left">
                            <a href="#" class="link close-popup">
                                <i class="icon icon-back"></i>
                                <span>Volver</span>
                            </a>
                        </div>
                        <div id="chat_name" class="center">nombre</div>
                        <div id="chat_user_icon" class="right">
                            <img id="user_avatar" src="" alt="user avatar">
                        </div>
                    </div>
                </div>


                <div class="page toolbar-fixed">
                    <!-- messagebar -->
                    <div class="toolbar messagebar">
                        <div class="toolbar-inner">
                            <textarea id="messageText" placeholder="Message"></textarea><a id="btnSend" href="#" class="link">Send</a>
                        </div>
                    </div>
                    <!-- messages-content -->
                    <div class="page-content messages-content">
                        <div class="messages">

                        </div>
                    </div>
                </div>

            </div>


            <!-- Tab bar with tab links -->
            <div class="toolbar tabbar tabbar-labels">
                <div class="toolbar-inner">
                    <a href="#view-1" class="tab-link">
                        <i class="icon f7-icons">persons<span id="usernumber" class="badge bg-green"></span></i>
                        <span class="tabbar-label">Usuarios</span>
                    </a>
                    <a href="#view-2" class="tab-link active">
                        <i class="icon f7-icons">chats<span id="userCount"></span></i>
                        <span class="tabbar-label">Chats</span>
                    </a>
                    <a href="#options" class="tab-link open-popup" data-popup=".options">
                        <i class="icon f7-icons">gear</i>
                        <span class="tabbar-label">Configuración</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- This popup has fullscreen size on tablets -->
        <div class="register popup tablet-fullscreen">
            <div class="content-block-title center">We're verificating your mobile</div>
            <!-- Code verificar form -->
            <form id="my-form" class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">  
                                <div class="item-input">
                                    <input id="code" type="text" name="code_verification" placeholder="Waiting for verification code">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
            <!-- end Code verificar form -->
            <div class="content-block">
                <a href="#" id="verificar" class="button button-fill">Verify your phone</a>
            </div>
        </div>
        <!-- tab Options form -->
        <div id="options" class="popup options tablet-fullscreen">
            <div class="content-block">
                <p>
                    <a href="#" class="close-popup">
                        <i class="icon f7-icons">arrow_left</i>
                        <span>Volver</span>
                    </a>
                </p>
                <div class="content-block-title center"><h1>Perfil de usuario</h1></div>
                <!-- Code verificar form -->
                <form id="form-option" class="list-block">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon f7-icons">person</i></div>
                                <div class="item-inner">
                                    <div class="item-title label">Nombre</div>
                                    <div class="item-input">
                                        <input type="text" id="input_name" name="name" placeholder="Your chat's name">
                                    </div>
                                </div>
                            </div>
                            <div class="item-content">
                                <div class="item-inner">
                                    <img class="img" id="imageFile" src="" alt="">
                                </div>
                            </div>

                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">Imagen</div>
                                    <a href="#" id="photo_local" class="button button-raised"><i class="icon f7-icons">images</i></a>
                                    <a href="#" id="photo_camera" class="button button-raised"><i class="icon f7-icons">camera</i></a>
                                </div>
                            </div>

                            <p class="buttons-row">
                                <a href="#" class="button button-big button-fill button-raised color-red close-popup">Cancelar</a>
                                <a href="#" id="photo_save" class="button button-big button-fill button-raised color-green form-to-data">Guardar</a>
                            </p>  

                        </li>
                    </ul>
                </form>
            </div>
        </div>
        <script type="text/javascript" charset="utf-8" src="cordova.js"></script>
        <!-- Path to Framework7 Library JS-->
        <script type="text/javascript" src="js/framework7.min.js"></script>
        <script src="js/template7.min.js"></script>
        <script src="js/socket.js"></script>
        <!-- Path to your index js-->
        <!--        <script type="text/javascript" src="js/index.js"></script>-->
        <!-- Path to your app js-->
        <script type="text/javascript" src="js/my-app.js"></script>

        <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
        <script>
            // Initialize Firebase
            var config = {
                apiKey: "AIzaSyAbM7elxo0c7Qc23XBiX9P4W5H7nWIaf2M",
                authDomain: "mensajeria-50fed.firebaseapp.com",
                databaseURL: "https://mensajeria-50fed.firebaseio.com",
                projectId: "mensajeria-50fed",
                storageBucket: "mensajeria-50fed.appspot.com",
                messagingSenderId: "669332612975"
            };
            firebase.initializeApp(config);
        </script>
    </body>
</html>