/*-------------------------------------diseño de imagenes----------------------------------*/
.img {
    max-width: 150px;
    max-height: 150px;
    border-radius:90%;
    margin-left: auto;
    margin-right: auto;
}
#photo_local i {
    margin:auto auto;
}
#photo_camera i{
    margin: auto auto;
}

.active{
    border-bottom: 3px solid white;
}

#user_avatar{
    width: 44px;
    height: 44px;
    border-radius: 10px;
}

#chat_user_icon{
    margin-right: 4px;
}

/*-------------------------------------diseño de chats----------------------------------*/

.swipeout-actions-right a{
    background-color: red;
}

/*-------------------------------------diseño de usuarios----------------------------------*/
.lista_usuarios ul li a{
    color: black;
}